a.backbutton
    position absolute
    top 17px
    left 17px
    width 38px
    height 38px
    border 3px solid ColorHeadingLink
    border-radius 50%
    background white
    overflow hidden
    z-index 2
    svg
      position absolute
      top -2px
      left -2px
      width @width
      height @height
      path
        fill ColorHeadingLink
    &:hover
      background lighten(ColorHeadingLink, 90%)
      cursor pointer
    &:active
      background ColorHeadingLink
      svg
        path
          fill white
