@import colors
@import prefixes
@import 'components/triangle'

.ig
  @import basics
  @import backbutton

.ig
  #overview-container
  #detail-container
    position absolute
    top 0px
    left 0px
    width 610px
    background white
    bottom 0px
    &.hidden
      display none
  #detail-container
    left -620px
    transition left 0.6s
  &.detail #detail-container
    left 0px
  tbody tr td:nth-child(2)
    text-align right
  #overview tbody tr td:first-child
    position relative
    padding 0px
    a
      padding 10px 10px
      text-decoration underline
      display block
      &:hover
        text-decoration none
        cursor pointer
  #detail-container
    .dataTables_length
      float right
      clear both
      width 100%
      margin-bottom 10px
      label
        float right
        display block
    .detail_filter
      float right
      clear both

